<!doctype html>
<html>
  <head>
    <title>OMDB API Example</title>
  </head>
  <body>
    <!-- action is the URL we send our data to -->
    <!-- method is the HTTP verb (e.g., GET, POST) -->
    <form action="/search" method="GET">
      <input type="text" name="movieTitle">
      <input type="submit">
    </form>
  </body>
</html>
